<nav class="admin-navbar">
    <div class="admin-navbar-left">
        <button id="toggleSidebar" class="menu-toggle" type="button">
            <i class="bi bi-list"></i>
        </button>
        <a href="/admin/" class="admin-logo-link">
            <span class="dot"></span>
            <span class="logo-text">Discount Admin</span>
        </a>
    </div>

    <div class="admin-navbar-right">
        <span class="admin-name">{{ current_user.name }}</span>

        
        <a href="{{ url_for('logout') }}" class="logout-btn">
            Đăng xuất
        </a>
    </div>
</nav>