{% extends 'admin/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block page_body %}
<div class="admin-shell">
    {% include 'admin/header_admin.html' %}
    {% include 'admin/sidebar.html' %}

    <main class="admin-main">
        {% block body %}{% endblock %}
    </main>
</div>
{% endblock %}
{% block tail %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
{% block brand %}{% endblock %}
{% block main_menu %}{% endblock %}
{% block menu_links %}{% endblock %}
{% block access_control %}{% endblock %}