<div id="sidebar" class="sidebar">
    <a href="/admin/" class="{% if request.path == '/admin/' or request.path == '/admin' %}active{% endif %}">
        <i class="bi bi-house-door"></i>
        <span>Trang chủ</span>
    </a>
    <a href="/admin/user/" class="{% if request.path.startswith('/admin/user/') %}active{% endif %}">
        <i class="bi bi-people"></i>
        <span>Người dùng</span>
    </a>

    <a href="/admin/category/" class="{% if request.path.startswith('/admin/category/') %}active{% endif %}">
        <i class="bi bi-grid"></i>
        <span>Danh mục</span>
    </a>

    <a href="/admin/product/"
       class="{% if request.path.startswith('/admin/product/') and not request.path.startswith('/admin/productdetail/') %}active{% endif %}">
        <i class="bi bi-box-seam"></i>
        <span>Sản phẩm</span>
    </a>


    <a href="/admin/coupon/" class="{% if request.path.startswith('/admin/coupon/') %}active{% endif %}">
        <i class="bi bi-ticket-perforated"></i>
        <span>Mã giảm giá</span>
    </a>

    <a href="/admin/order/" class="{% if request.path.startswith('/admin/order/') %}active{% endif %}">
        <i class="bi bi-receipt"></i>
        <span>Đơn hàng</span>
    </a>
</div>