<div id="sidebar" class="sidebar">
    <a href="/admin/user/">Người dùng</a>
    <a href="/admin/category/">Danh mục</a>
    <a href="/admin/product/">Sản phẩm</a>
    <a href="/admin/productdetail/">Chi tiết sản phẩm</a>
    <a href="/admin/cart/">Giỏ hàng</a>
    <a href="/admin/cartitem/">Chi tiết giỏ hàng</a>
    <a href="/admin/coupontype/">Loại mã giảm giá</a>
    <a href="/admin/coupon/">Mã giảm giá</a>
    <a href="/admin/couponcategory/">Mã - danh mục</a>
    <a href="/admin/usercoupon/">Mã của user</a>
    <a href="/admin/order/">Đơn hàng</a>
    <a href="/admin/orderitem/">Chi tiết đơn hàng</a>
</div>

